
.services-header {
    h2 {
        font-size: 25px;
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
    }
    p {
        font-size: 15px;
        text-align: center;
    }

}
.services .service {
    text-align: left  ;
    h3{
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }
    img {
        width: 50px;
        height: 50px;
        margin-right: 30px;
    }
    
    .service-text {
        p {
            font-size: 15px;
        }
    }
}
.services-wrapper {
    .service-last {
        img {
            margin-right: 50px;
        }
    }
}