@media (max-width:576px) {
    .footer-copyright p {
        font-size: 15px;
    }
}

@media (max-width:480px) {
    .footer-navifation .footer-navbar-wrapper {
        padding-left: 0;
    }
    .footer-navifation .footer-navbar-wrapper li {
        width: 100%;
        margin-right: 0!important;
        text-align: center;
    }
    .footer-socials {
        margin-bottom: 20px;
    }
    .footer-copyright {
        font-size: 15px;
    }
}

@media (max-width:320px) {
    .footer-copyright p {
        font-size: 12px;
    }
}