.how-it-works {
    padding: 100px 0;
    margin-bottom: 80px;
}
.hiw-header {
    text-align: center;
    margin-bottom: 80px;
    h2 {
        font-size: 25px;
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
    }
}
.hiw-wrapper {
    position: relative;
    .arrows {
        position: absolute;
        width: 12%;
        transform: translateX(-25%);
    }
    .lower-arrow {
        top: 65px;
        transform: translateX(-30%);
    }
}

.hiw-item {
    text-align: center;
    img {
        height: 50px;
        width: 55px;
        margin-bottom: 80px;
    }
    h3 {
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    p {
        font-size: 12px;
        color: #7b7b7b;
        margin: 0 0 80px 0;
    }
    
}
.hiw-btn {
    border-radius: 2px;
    color: white;
    padding: 10px 25px;
}
