.how-it-works {
    margin-bottom: 150px;
    .hiw-wrapper {
        display: flex;
        justify-content: center;
        img {
            width: 90%;
        }
    .how-it-works-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
}