.happy-clients {
    background-color: #ffc155;
    margin-bottom: 150px;
    padding: 130px 0;
}
.happy-clients-header {
    text-align: center;
    margin-bottom: 60px;
    color: white;
    h2 {
        font-size: 25px;
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
    }
    p {
        font-size: 15px;
    }
}
.happy-clients-item {
    padding: 15px 15px 0;
    img {
        width: 120px;
        height: 120px;
        margin-right: 20px;
    }
}
.review {
    padding: 40px 20px;
}
.happy-clients-text {
    font-size: 12px;
    .happy-clients-user {
        display: flex;
        .hc-name {
            text-transform: uppercase;
            color: #ffc155;
        }
        .hc-post {
            text-transform: uppercase;
            color: #99a9ae;
        }
    }
}
