.about-us {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    .about-us-wrapper {
        display: flex;
        img {
            width: 50%;
            padding: 0;
        }
        .about-left-part {
            background-image: url(../images/about/about-img.png);
            background-size: cover;
            display: flex;
        }
        .about-right-part {
            width: 50%;
            background-color: #ffc155;
            color: white;
            padding: 150px 300px 140px 80px;
            h3 {
                font-size: 25px;
                font-weight: 800;
                text-transform: uppercase;
            }
            p {
                font-size: 12px;
                margin-bottom: 30px;
            }
            .about-btn {
                color: white;
                border-color: #e7ad48;
                background-color: #ffc155;
                padding: 10px 30px;
                border-radius: 2px;
            }
        }
    }
}