%banner-inputs {
    background-repeat: no-repeat;
    background-position: center left;
    background-position: 15px;
    padding-left: 40px;
    border-radius: 2px;
}
%h2 {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}
%top-p {
    font-size: 15px;
    text-align: center;
}
%newsletter-inputs {
    background-repeat: no-repeat;
    background-position: center left;
    background-position: 15px;
    padding-left: 40px;
    border-radius: 2px;
}
%long-buttons {
    border-radius: 2px;
    color: white;
    padding: 6px 25px;
    background-color: $main-color;
}