@media (max-width: 976px) {
    .header .header-wrapper nav .navbar-collapse .menu-item-custom {
        padding-right: 0;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .menu-wrapper {
        display: flex!important;
        justify-content: space-between!important;
    }
}